body{
    margin: 0;
    overflow-x: hidden;
}

.full-width{
    width: 100%;
}

.width-1080{
    width: 1080px;
}

.display-none{
    transition: 1000ms;
    opacity: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 103px;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    position: fixed;
    z-index: 10;
}

.header-contenedor {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{
    position: relative;
    filter: drop-shadow(4px 5px 0px #02187E);
    top: -17px;
}

.logo-img{
    position: relative;
    top: 180px;
    left: 75px;
}

.comprar-btn {
    height: 66px;
    border-radius: 111px;
    border: 8px solid #2982FF ;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    letter-spacing: 1px;
    position: relative;
    top: -7px;
    padding: 0 45px;
    -webkit-text-stroke: 1.5px #02187E;
}

.imagen-personajes{
    height: auto;
}

.edificio-izq{
    position: absolute;
    top: 110px;
    left: -55px;
    z-index: 2;
}

.edificio-cen{
    position: absolute;
    top: 600px;
    right: 30%;
    z-index: 2;
}

.edificio-der{
    position: absolute;
    top: 90px;
    right: -5px;
    z-index: 2;
}

.hero-izq{
    position: absolute;
    top: 330px;
    left: 90px;
    z-index: 6;
}

.hero-cen{
    position: relative;
}

.hero-der{
    position: relative;
}

.tela-cen{
    position: relative;
    top: -480px;
    left: -600px;
}

.tela-der{
    position: relative;
    right: 110px;
    top: 50px;
}

.div-hero-cen{
    position: absolute;
    top: 330px;
    z-index: 6;
    left: 30%;
}

.div-hero-der{
    position: absolute;
    top: 330px;
    right: -13%;
    z-index: 6;
}

.intro {
    background-image: url(../img/fondo-lila.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 845px;
    position: relative;
    z-index: 5;
    top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

h1 {
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%;
    margin: 0;
}

.intro p{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-seccion-2{
    width: 586px;
}

.info-seccion-2 p{
    width: 570px;
}

.demo-juego{
    position: absolute;
    bottom: -150px;
    left: 208px;
}

.duende{
    position: absolute;
    bottom: -140px;
    left: 830px;
}

.seccion-3{
    display: flex;
    justify-content: center;
    width: 100%;
}

.contenedor-cards{
    display: flex;
    justify-content: space-between;
}

.cards-seccion-3{
    display: flex;
    flex-direction: column;
    width: 332px;
}

.cards-seccion-3 p{
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fondo-ghost-spidey{
    position: relative;
    height: 550px;
    display: flex;
    width: 100%;
    z-index: 6;
    margin-top: 120px;
}

.fondo-seccion-4{
    width: 100%;
}

.screenshot-top{
    position: absolute;
    top: -150px;
    left: 100px;
}

.screenshot-center{
    position: absolute;
    top: -50px;
    left: 100px;
}

.screenshot-bottom{
    position: absolute;
    top: 100px;
    left: 100px;
}

.contenedor-seccion-5{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 750px;
}

.fondo-seccion-5{
    background-color: #000;
    width: 100%;
    height: 980px;
    position: absolute;
    top: -200px;
    transform: skewY(5deg);
}

.titulo-seccion-5{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
    width: 650px;
    position: relative;
    top: 100px;
}

.imagenes-seccion-5{
    position: relative;
    top: 150px;
}

.cielo-seccion-5{
    position: absolute;
}

.fondo-uno-seccion-5{
    position: absolute;
}

.fondo-dos-seccion-5{
    position: absolute;
    z-index: 4;
}

.larguirucha{
    position: absolute;
    top: -100px;
}

.black-ironman{
    position: absolute;
    left: 450px;
    top: -250px;
}

.hulk{
    position: absolute;
    left: 680px;
    top: 100px;
}

.contenedor-seccion-6{
    display: flex;
    justify-content: center;
}

.h1-seccion-6 h1{
    color: #000;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

.subcontenedor-seccion-6{
    display: flex;
    justify-content: space-between;
}

.imagenes-seccion-6{
    position: relative;
    z-index: 10;
}

.imagenes-seccion-6 img{
    margin-top: 100px;
    position: fixed;
    top: 150px;
    left: 220px;
    transition: 400ms;
    opacity: 0;
}

.info-seccion-6{
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.info-seccion-6 div{
    width: 464px;
    height: 250px;
    margin-top: 150px;
    margin-bottom: 100px;
}

.info-seccion-6 h1{
    color: #000;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 37.8px */
}

.info-seccion-6 p{
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
}

.contenedor-seccion-7{
    position: relative;
    display: flex;
    justify-content: center;
}

.fondo-seccion-7{
    background-color: #000;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    transform: skewY(5deg);
}

.subcontenedor-seccion-7{
    margin-top: 160px;
}

.subcontenedor-seccion-7 h1{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    width: 800px;
    margin-bottom: 30px;
}

.contenedor-seccion-8{
    position: relative;
    display: flex;
    justify-content: center;
    height: 500px;
}

.fondo-seccion-8{
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    top: 30px;
    position: absolute;
    transform: skewY(-5deg);
}

.spyder-left{
    position: absolute;
    left: 320px;
    top: 50px;
}

.spyder-center{
    position: absolute;
    left: 550px;
    top: 70px;
}

.spyder-right{
    position: absolute;
    left: 970px;
    top: 100px;
}

.contenedor-seccion-9{
    margin-top: 180px;
    height: 1300px;
    background: linear-gradient(0deg, #F7E3D8 21.2%, #8FBEFC 81.48%);
    position: relative;
}

.subcontenedor-seccion-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.subcontenedor-seccion-9 h1{
    width: 800px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%; /* 56.7px */
}

.subcontenedor-seccion-9 p{
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%;
    width: 580px;
    position: relative;
    left: -30px;
}

.teen-esrb{
    position: relative;
    left: -205px;
}

.edificios-seccion-9{
    width: 100%;
    position: absolute;
    bottom: 0;
}

.div-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;
    margin-bottom: 39px;
    width: 780px;
    height: 100px;
    border-radius: 50px;
    background-color: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.div-form-input{
    width: 562px;
    height: 83px;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.div-form-input input{
    border: none;
    margin-left: 35px;
    color: rgba(0, 0, 0, 0.39);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    width: 100%;
}

.div-form-input input:focus{
    outline: none;
}

.div-form-button{
    width: 218px;
    height: 83px;
    border: 9px solid #2982FF;
    border-radius: 0 50px 50px 0;
    display: flex;
    align-items: center;
    -webkit-text-stroke: 1.5px #02187E;
}

.div-form-button button{
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-footer-top{
    width: 100%;
    background-color: #242424;
    display: inherit;
    justify-content: center;
}

.contenedor-footer-bottom{
    background-color: #5E5E5D;
    width: 100%;
    height: 600px;
    display: inherit;
    justify-content: center;
    padding-top: 30px;
}

.contenedor-footer-bottom p{
    width: 818px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
}

.contenedor-footer-bottom a{
    list-style: none;
    color: #FFF;
}

.contenedor-footer-bottom a:hover{
    color: #c27a7a;
}

.footer-bottom{
    margin-top: 20px;
}