body{
    margin: 0;
}

.full-width{
    width: 100%;
}

.width-1080{
    width: 1080px;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 103px;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    /*position: fixed;*/
    position: absolute;
    z-index: 4;
}

.header-contenedor {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{
    position: relative;
    filter: drop-shadow(4px 5px 0px #02187E);
    top: -17px;
}

.logo-img{
    position: relative;
    top: 180px;
    left: 75px;
}

.comprar-btn {
    width: 216px;
    height: 66px;
    border-radius: 111px;
    border: 8px solid #2982FF ;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    color: #02187E;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%;
    position: relative;
    top: -7px;
}

.imagen-personajes{
    height: auto;
}

.edificio-izq{
    position: absolute;
    top: 110px;
    left: -55px;
    z-index: 2;
}

.edificio-cen{
    position: absolute;
    top: 600px;
    right: 30%;
    z-index: 2;
}

.edificio-der{
    position: absolute;
    top: 90px;
    right: -5px;
    z-index: 2;
}

.hero-izq{
    position: absolute;
    top: 330px;
    left: 90px;
    z-index: 3;
}

.hero-cen{
    position: absolute;
    top: 350px;
    left: 470px;
    z-index: 3;
}

.hero-der{
    position: absolute;
    top: 350px;
    right: 210px;
    z-index: 3;
}

.tela-cen{
    position: absolute;
    top: 330px;
    left: -140px;
    z-index: 6;
}

.tela-der{
    position: absolute;
    top: 400px;
    right: -130px;
    z-index: 3;
}

.intro {
    background-image: url(../img/fondo-lila.png);
    height: 845px;
    position: relative;
    z-index: 5;
    top: -110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 94.5%;
    margin: 0;
}

.intro p{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-seccion-2{
    width: 586px;
}

.demo-juego{
    position: absolute;
    bottom: -150px;
    left: 208px;
}

.duende{
    position: absolute;
    bottom: -230px;
    left: 800px;
}