.encabezado {
    width: 1280px;
    height: 103px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
}

.menu-hamburguesa {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.comprar-btn {
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;

    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
}

.intro {
    background-color: #8F6AA6;
}

h1 {
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}